@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Pacifico&family=Sedan+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
#head{
    display: flex;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
body{
    background-color: #430A5D;
    overflow: hidden;
    cursor: pointer;
}   
    
    
#first-half,#second-half{
    list-style-type: none;
    display: flex;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 0;
    cursor: pointer;
}
ul li{
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
    color: #430A5D;
}
#first-half{
    margin-left: 100px;
}
#second-half{
    margin-left: 40px;
}
#name{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    font-family: "Norican", cursive;
    letter-spacing: 2px;
    color: #1f0f27;
}
#perfume_image{
    float: right;
    bottom: 0;
    margin-right: -10px;
    margin-left: 70px;
}
#perfume_image img{
    height:600px; 
    width :400px;

}
#content{
    float: left;
    height: 600px;
    width: 500px;
    margin-top: 150px;
    margin-left: 50px;
    line-height: 40px;
    color: #bf6de4e4;
}
#content p{
    font-size: 20px;
    font-family: "Sedan SC", serif;
    text-align: center;
    color: #c98de6f6;
}
#content button{
    height: 50px;
    width: 150px;
    margin-left: 150px;
    border-radius: 25px;
    font-size: 25px;
    background-image: linear-gradient(to left,#bf6de4e4, #dfaef6);
    box-shadow: 3px 3px 5px #d9abeff1;
    border: none;
}
#content h3{
    font-family: "Pacifico", cursive;
    text-align: CENTER;
    word-spacing: 5px;
}
#content h1{
    font-family: "Jaini Purva", system-ui;
    word-spacing: 5px;
    text-align: center;
}
#brand{
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 10px solid rgb(205, 87, 205);
   margin-left: 20px;
   margin-top: 200px;
   text-align: center;
}
#brand h1{
    text-align: center;
    margin-top: 70px;
    color: #d69ef0e4;
}
#brand h4{
    text-align: center;
    font-size: 20px;
    color: #dfaef6;
    margin-top: 0;
}
#body{
    display: flex;
}